<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style-register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <a href="index.html" class="back-btn"><i class="fas fa-arrow-left"></i> Kembali</a>

        <h1>REGISTER</h1>
        <form method="POST" action="../app/proses_register.php">
            <input type="text" name="hidden-field" style="display:none">
            <input type="password" name="fake-password-field" style="display:none">

            <input type="text" name="data-username" placeholder="Username" autocomplete="off" required>
            <input type="email" name="email" placeholder="Email" autocomplete="off" required>
            <input type="password" name="password" placeholder="Password" autocomplete="new-password" required>
            <input type="password" name="confirm-password" placeholder="Konfirmasi Password" autocomplete="new-password" required>
        
            <div class="role-selection">
                <label for="role">Pilih Role:</label>
                <select name="role" id="role" required>
                    <option value="admin">Admin</option>
                    <option value="superadmin">Superadmin</option>
                </select>
            </div>
            <button type="submit">Daftar</button>
            <h4>-OR-</h4>
            <button type="button" class="register-btn" onclick="navigateToLogin()">Sudah Punya Akun?</button>
        </form>
        
    </div>
    <script>
        function navigateToLogin() {
            window.location.href = 'login.html';
        }
    </script>
</body>
</html>
