<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-register.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/logo.png') }}" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <a href="{{ url_for('index') }}" class="back-btn"><i class="fas fa-arrow-left"></i>Kembali</a>
        <h1>REGISTER</h1>
        <form method="POST" action="{{ url_for('register') }}" autocomplete="off">
            <input type="text" name="dummy_username" style="display: none;">
            <input type="password" name="dummy_password" style="display: none;">

            <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" required>
            <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
            <input type="password" name="password" id="password" placeholder="Password" autocomplete="new-password" required>

            <div class="role-selection">
                <label for="role">Pilih Role:</label>
                <select name="role" id="role" required>
                    <option value="admin">Admin</option>
                    <option value="superadmin">Superadmin</option>
                </select>
            </div>
            <button type="submit">Daftar</button>
            <h4>-OR-</h4>
            <button type="button" class="register-btn" onclick="navigateToLogin()">Sudah Punya Akun?</button>
        </form>               
    </div>
    <script>
        function navigateToLogin() {
            window.location.href = "{{ url_for('login') }}";
        }
    </script>
</body>
</html>
